In [1]:
import glob
import pandas as pd
import numpy as np
import pathlib

In [2]:
def is_empty(e):
    if e is None:
        return True
    if isinstance(e, str) and not e:
        return True
    if isinstance(e, float) and np.isnan(e):
        return True
    if hasattr(e, '__len__') and len(e) == 0:
        return True
    return False

def is_string(e):
    if isinstance(e, str) and e:
        return True
    return False

def is_number(e):
    if isinstance(e, float) and not np.isnan(e):
        return True
    if isinstance(e, str) and e:
        return (e
                .replace(" ", "")
                .replace("-", "")
                .replace("%", "")
                .replace(",", "")
                .isdigit()
               )
    return False

def identification_mask(pdf):
    def substitute(e):
        if is_empty(e):
            return None
        if is_number(e):
            return "n"
        if is_string(e):
            return "s"
    return pdf.applymap(substitute)

In [3]:
def identify_number_area(c):
    ic = identification_mask(c)
    dc = ic.copy()
    
    index_sum = float('inf')
    for i in range(ic.shape[0]):
        for j in range(ic.shape[1]):
            if 0 == (ic.iloc[i:, j:] == "s").sum().sum() and i + j < index_sum:
                index_sum = i + j
                max_i, max_j = i, j  

    return max_i, max_j

In [4]:
def squeeze_headers(c, number_area):
    
    def apply_transform(s):
        return s.apply(str).apply(lambda x: "" if x == "NaN" else x)
    
    sc = c.applymap(lambda x: "NaN" if isinstance(x, float) and np.isnan(x) else x)
    ie, je = number_area
    
    l1 = None
    for i in range(0, ie):
        if l1 is None:
            l1 = apply_transform(sc.iloc[0, :])
        else:
            l1 = l1.str.cat(apply_transform(sc.iloc[i]), sep=' ')
    if l1 is not None:
        sc = pd.concat([l1.to_frame().T, sc.drop(axis=0, index=range(0, ie))])
    
    l2 = None
    for i in range(0, je):
        if l2 is None:
            l2 = apply_transform(sc.iloc[:, 0])
        else:
            l2 = l2.str.cat(apply_transform(sc.iloc[:, i]), sep=' ')
    if l2 is not None:
        sc = pd.concat([l2.to_frame(), sc.drop(axis=1, columns=range(0, je))], axis=1)
    
    if l1 is not None:
        sc.iloc[0, :] = [f"*{i}" if x.strip() == "" else x for i, x in enumerate(sc.iloc[0, :])]
        sc.columns = sc.iloc[0, :]
        sc = sc.drop(axis=0, index=[0])
        
    sc = sc.set_index(sc.columns[0])
    
    return sc

def squeeze_columns(sc):
    columns_to_drop = []
    for c1, c2 in zip(sc.columns, sc.columns[1:]):
        all_is_nan = (sc[c1] == "NaN").all()
        if not isinstance(all_is_nan, pd.Series) and all_is_nan and c2[0] == "*":
            sc[c1] = sc[c2]
            columns_to_drop.append(c2)
            
    return sc.drop(columns=columns_to_drop)

def columns_to_numbers(sc):
    c

In [6]:
total_numbers = 0
for i, f in enumerate(glob.glob("../data/res/**/*.csv", recursive=True)):
    print("parsing", i, f)
    f = pathlib.Path(f)
    c = pd.read_csv(f, sep=',', thousands=' ', header=None, dtype=object, encoding='UTF-8')
#     display(c)
    ic = identification_mask(c)
#     display(ic)
    na = identify_number_area(c)
    print(na)
    sc = squeeze_headers(c, na)
#     display(sc)
    final = squeeze_columns(sc)
    
    try:
        final = final.applymap(lambda x: x.replace(" ", "").replace("%", "").replace(",", ".")).astype('float')
        total_numbers += final[final > 0].count().sum()
    except ValueError:
        pass
        
    display(final.iloc[:10,:])

    output_filename = "../data/nice/" + "".join(f.name.split(".")[:-1]) + ".xlsx"
    final.to_excel(output_filename)
    
    
print("total_numbers", total_numbers)

parsing 0 ../data/res\generali\tabula-Generali_2019_EN_short-0.csv
(1, 1)

0                                                   Solvency II value
*0
Assets                                                            NaN
Intangible assets                                                 0.0
Deferred tax assets                                               0.0
Pension benefit surplus                                           0.0
Property, plant & equipment held for own use                 877909.0
Investments (other than assets held for index-l...         68036488.0
Property (other than for own use)                            316964.0
Holdings in related undertakings, including par...         17794170.0
Equities                                                    2086266.0
Equities - listed                                           1375648.0

parsing 1 ../data/res\generali\tabula-Generali_2019_EN_short-1.csv
(0, 1)

                                                             1
0
Technical provisions - non-life                     17087523.0
Technical provisions - non-life (excluding health)  15157230.0
TP calculated as a whole                                   0.0
Best estimate                                       14449245.0
Risk margin                                           707985.0
Technical provisions - health (similar to non-l...   1930293.0
TP calculated as a whole                                   0.0
Best estimate                                        1904108.0
Risk margin                                            26185.0
Technical provisions - life (excluding index-li...  26015167.0

parsing 2 ../data/res\generali\tabula-Generali_2019_EN_short-10.csv
(3, 2)

,Impact of transitional on technical provisions,Impact of transitional on interest rate,Impact of volatility adjustment set to zero,Impact of matching adjustment set to zero
Amount with Long Term Guarantee measures and,,,,
transitionals,NaN,NaN,NaN,NaN
Technical provisions 58 140 035,0.0,0.0,286120.0,0.0
Basic own funds 26 043 743,0.0,0.0,-184939.0,0.0
Eligible own funds to meet Solvency Capital Requirement 26 043 743,0.0,0.0,-184939.0,0.0
Solvency Capital Requirement 12 883 886,0.0,0.0,533439.0,0.0
Eligible own funds to meet Minimum Capital Requirement 26 043 743,0.0,0.0,-184939.0,0.0
Minimum Capital Requirement 3 220 972,0.0,0.0,133360.0,0.0

parsing 3 ../data/res\generali\tabula-Generali_2019_EN_short-11.csv
(1, 1)

,Total,Tier 1 - unrestricted,Tier 1 - restricted,Tier 2,Tier 3
*0,,,,,
Basic own funds before deduction for participations in other financial sector as foreseen in article 68 of Delegated,NaN,NaN,NaN,NaN,NaN
Regulation (EU) 2015/35,NaN,NaN,NaN,NaN,NaN
Ordinary share capital (gross of own shares),4000000.0,4000000.0,NaN,0.0,NaN
Share premium account related to ordinary share capital,0.0,0.0,NaN,0.0,NaN
"Initial funds, members' contributions or the equivalent basic own - fund item for mutual and mutual-type undertakings",0.0,0.0,NaN,0.0,NaN
Subordinated mutual member accounts,0.0,NaN,0.0,0.0,0.0
Surplus funds,0.0,0.0,NaN,NaN,NaN
Preference shares,0.0,NaN,0.0,0.0,0.0
Share premium account related to preference shares,0.0,NaN,0.0,0.0,0.0
Reconciliation reserve,22043743.0,22043743.0,NaN,NaN,NaN

parsing 4 ../data/res\generali\tabula-Generali_2019_EN_short-12.csv
(0, 1)

                                             1
0
SCR                                 12883886.0
MCR                                  3220972.0
Ratio of Eligible own funds to SCR       202.1
Ratio of Eligible own funds to MCR       808.6

parsing 5 ../data/res\generali\tabula-Generali_2019_EN_short-13.csv
(0, 1)

                                                             1
0
Reconciliation reserve                                     NaN
Excess of assets over liabilities                   29260743.0
Own shares (held directly and indirectly)                  0.0
Foreseeable dividends, distributions and charges     3217000.0
Other basic own fund items                           4000000.0
Adjustment for restricted own fund items in res...         0.0
Reconciliation reserve                              22043743.0
Expected profits                                           NaN
Expected profits included in future premiums (E...   9065463.0
Expected profits included in future premiums (E...   1799884.0

parsing 6 ../data/res\generali\tabula-Generali_2019_EN_short-14.csv
(0, 2)

                                          2          3
0
FIN01 Financial Risk              4905118.0  4905118.0
CRD01 Credit Risk                 2433843.0  2433843.0
LUW01 Life underwriting risk       646860.0   646860.0
HLT01 Health underwriting risk          0.0        0.0
NUW01 Non-life underwriting risk  2291470.0  2291470.0
OPE01 Operational risk             744725.0        0.0
TAX01 Tax Cap Effect               624514.0   624514.0
MOD01 Model Adjustment             307000.0   307000.0
INT01 Intangible risk                   0.0        0.0
SFA01 SF transferred Generali     2902608.0        0.0

parsing 7 ../data/res\generali\tabula-Generali_2019_EN_short-15.csv
(0, 1)

                                                             1
0
Calculation of Solvency Capital Requirement                NaN
Total undiversified components                      14921938.0
Diversification                                     -2038052.0
Capital requirement for business operated in ac...         0.0
Solvency capital requirement excluding capital ...  12883886.0
Capital add-ons already set                                0.0
Solvency capital requirement                        12883886.0
Other information on SCR                                   NaN
Amount/estimate of the overall loss-absorbing c...         0.0
Amount/estimate of the overall loss-absorbing c...         0.0

parsing 8 ../data/res\generali\tabula-Generali_2019_EN_short-16.csv
(2, 1)

,"Non-life activities MCR(NL,NL) Result","Life activities MCR(NL,L) Result"
*0,,
Linear formula component for non-life insurance and reinsurance,NaN,NaN
obligations,1774072.0,160194.0

parsing 9 ../data/res\generali\tabula-Generali_2019_EN_short-17.csv
(7, 1)

,Net (of reinsurance/SPV) best estimate and TP calculated as a whole,Net (of reinsurance) written premiums in the last 12 months,Net (of reinsurance/SPV) best estimate and TP calculated as a whole,Net (of reinsurance) written premiums in the last 12 months
*0,,,,
Medical expense insurance and proportional reinsurance,57092.0,113617.0,NaN,NaN
Income protection insurance and proportional reinsurance,5040.0,276793.0,1222855.0,NaN
Workers' compensation insurance and proportional reinsurance,0.0,0.0,NaN,NaN
Motor vehicle liability insurance and proportional reinsurance,3541155.0,3192117.0,NaN,NaN
Other motor insurance and proportional reinsurance,1627382.0,3058001.0,NaN,NaN
"Marine, aviation and transport insurance and proportional reinsurance",57005.0,84094.0,NaN,NaN
Fire and other damage to property insurance and proportional reinsurance,1755991.0,3871375.0,NaN,NaN
General liability insurance and proportional reinsurance,1442215.0,1123262.0,NaN,NaN
Credit and suretyship insurance and proportional reinsurance,92776.0,16296.0,NaN,NaN
Legal expenses insurance and proportional reinsurance,0.0,0.0,NaN,NaN

parsing 10 ../data/res\generali\tabula-Generali_2019_EN_short-18.csv
(2, 1)

,"Non-life activities MCR(L,NL) Result","Life activities MCR(L,L) Result"
*0,,
Linear formula component for life insurance and reinsurance,NaN,NaN
obligations,19011.0,1147709.0

parsing 11 ../data/res\generali\tabula-Generali_2019_EN_short-19.csv
(8, 1)

,Non-life activities Net (of Net (of reinsurance/SPV) reinsurance/SPV) best estimate and TP total capital at risk calculated as a whole,*2,Net (of reinsurance/SPV) best estimate and TP calculated as a whole,Life activities Net (of reinsurance/SPV) total capital at risk
*0,,,,
Obligations with profit participation - guaranteed benefits,0.0,NaN,25390884.0,NaN
Obligations with profit participation - future discretionary benefits,0.0,NaN,345717.0,NaN
Index-linked and unit-linked insurance obligations,0.0,NaN,14684507.0,NaN
Other life (re)insurance and health (re)insurance obligations,905290.0,NaN,NaN,0.0
Total capital at risk for all life (re)insurance obligations,NaN,0.0,NaN,176331785.0

parsing 12 ../data/res\generali\tabula-Generali_2019_EN_short-2.csv
(4, 1)

,Medical expense insurance,Income protection insurance,Workers' compensation insurance,Motor vehicle liability insurance,Other motor insurance,"Marine, aviation and transport insurance",Fire and other damage to property insurance,General liability insurance,Credit and suretyship insurance,Legal expenses insurance,Assistance,Miscellaneous financial loss,Health,Casualty,"Marine, aviation, transport",Property,Total
*0,,,,,,,,,,,,,,,,,
Premiums written,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gross - Direct Business,190524.0,460974.0,0.0,5264304.0,5190172.0,346051.0,6915826.0,2172093.0,26039.0,0.0,0.0,15.0,NaN,NaN,NaN,NaN,20565998.0
Gross - Proportional reinsurance accepted,0.0,209.0,0.0,0.0,0.0,33557.0,455578.0,147741.0,3963.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,641048.0
Gross - Non-proportional reinsurance accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3327.0,39915.0,408.0,101345.0,144995.0
Reinsurers' share,76908.0,184389.0,0.0,2072187.0,2132171.0,295514.0,3500029.0,1196572.0,13705.0,0.0,0.0,0.0,3327.0,39915.0,408.0,101279.0,9616403.0
Net,113617.0,276793.0,0.0,3192117.0,3058001.0,84094.0,3871375.0,1123262.0,16296.0,0.0,0.0,15.0,0.0,-0.0,0.0,67.0,11735637.0
Premiums earned,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gross - Direct Business,191275.0,463828.0,0.0,5233601.0,5112392.0,349712.0,6917796.0,2140322.0,134888.0,0.0,0.0,15.0,NaN,NaN,NaN,NaN,20543828.0
Gross - Proportional reinsurance accepted,0.0,266.0,0.0,0.0,0.0,33837.0,457227.0,148223.0,4167.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,643719.0
Gross - Non-proportional reinsurance accepted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3327.0,39915.0,408.0,101345.0,144995.0

parsing 13 ../data/res\generali\tabula-Generali_2019_EN_short-20.csv
(0, 1)

                                      1
0
Linear MCR                    3100986.0
SCR                          12883886.0
MCR cap                       5797749.0
MCR floor                     3220972.0
Combined MCR                  3220972.0
Absolute floor of the MCR      188756.0
Minimum Capital Requirement   3220972.0

parsing 14 ../data/res\generali\tabula-Generali_2019_EN_short-21.csv
(1, 1)

,Non-life activities,Life activities
Notional non-life and life MCR calculation,,
Notional linear MCR,1793083.0,1307903.0
Notional SCR excluding add-on (annual or latest calculation),7449849.0,5434038.0
Notional MCR cap,3352432.0,2445317.0
Notional MCR floor,1862462.0,1358509.0
Notional Combined MCR,1862462.0,1358509.0
Absolute floor of the notional MCR,94378.0,94378.0
Notional MCR,1862462.0,1358509.0

parsing 15 ../data/res\generali\tabula-Generali_2019_EN_short-3.csv
(9, 1)

,Health insurance,Insurance with profit participation,Index-linked and unit-linked insurance,Other life insurance,Annuities stemming from non- life insurance contracts and relating to health insurance obligations,Annuities stemming from non- life insurance contracts and relating to insurance obligations other than health insurance obligations,Health reinsurance,Life reinsurance,Total
*0,,,,,,,,,
Premiums written,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gross,0.0,2814069.0,1604467.0,3317561.0,0.0,0.0,0.0,10750.0,7746847.0
Reinsurers' share,0.0,0.0,0.0,1265427.0,0.0,0.0,0.0,10774.0,1276202.0
Net,0.0,2814069.0,1604467.0,2052134.0,0.0,0.0,0.0,-24.0,6470646.0
Premiums earned,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gross,0.0,2814069.0,1604467.0,3317561.0,0.0,0.0,0.0,10750.0,7746847.0
Reinsurers' share,0.0,0.0,0.0,1265427.0,0.0,0.0,0.0,10774.0,1276202.0
Net,0.0,2814069.0,1604467.0,2052134.0,0.0,0.0,0.0,-24.0,6470646.0
Claims incurred,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gross,0.0,4390077.0,1110123.0,1114718.0,0.0,-91814.0,0.0,11778.0,6534883.0

parsing 16 ../data/res\generali\tabula-Generali_2019_EN_short-4.csv
(2, 1)

,Home Country,BG,Top 5 countries (by amount of gross premiums written) - non-life obligations PL HU RS,*5,RU,Total Top 5 and home country
*0,,,,,,
Premiums written,NaN,NaN,NaN,NaN,NaN,NaN
Gross - Direct Business,20 565 998,0,0 0,0,0,20 565 998
Gross - Proportional reinsurance accepted,497 802,128 383,12 933 8 537,476,0,648 131
Gross - Non-proportional reinsurance accepted,67,144 828,0 0,0,101,144 995
Reinsurers' share,9 335 609,273 211,0 7 483,0,101,9 616 403
Net,11 728 258,0,12 933 1 054,476,0,11 742 721
Premiums earned,NaN,NaN,NaN,NaN,NaN,NaN
Gross - Direct Business,20 543 828,0,0 0,0,0,20 543 828
Gross - Proportional reinsurance accepted,500 186,128 618,11 957 8 537,476,0,649 774
Gross - Non-proportional reinsurance accepted,67,144 828,0 0,0,101,144 995

parsing 17 ../data/res\generali\tabula-Generali_2019_EN_short-5.csv
(1, 1)

,Home Country,*2,Top 5 countries (by amount of gross premiums written) - life obligations,*4,*5,Total Top 5 and home country
*0,,,,,,
Premiums written,NaN,NaN,NaN,NaN,NaN,NaN
Gross,7746847.0,0.0,0.0,0.0,0.0,7746847.0
Reinsurers' share,1276202.0,0.0,0.0,0.0,0.0,1276202.0
Net,6470646.0,0.0,0.0,0.0,0.0,6470646.0
Premiums earned,NaN,NaN,NaN,NaN,NaN,0.0
Gross,7746847.0,0.0,0.0,0.0,0.0,7746847.0
Reinsurers' share,1276202.0,0.0,0.0,0.0,0.0,1276202.0
Net,6470646.0,0.0,0.0,0.0,0.0,6470646.0
Claims incurred,NaN,NaN,NaN,NaN,NaN,0.0
Gross,6534883.0,0.0,0.0,0.0,0.0,6534883.0

parsing 18 ../data/res\generali\tabula-Generali_2019_EN_short-6.csv
(11, 1)

,Insurance with profit participation,Index-linked and unit-linked insurance Other life insurance Contracts without Contracts with options Contracts without to health insurance options and guarantees or guarantees options and guarantees,Contracts with options or guarantees,Annuities stemming from non-life insurance contracts and relating to insurance obligation other than health insurance obligations,Accepted reinsurance,"Total (Life other than health insurance, incl. Unit-Linked)",Health insurance (direct business) Contracts without Contracts with options options and guarantees or guarantees,Annuities stemming from non-life insurance contracts and relating obligations,Health reinsurance (reinsurance accepted),Total (Health similar to life insurance)
*0,,,,,,,,,,
Technical provisions calculated as a whole,0,0 0,NaN,0,0,0,0,0,0,0
Total Recoverables from reinsurance/SPV and Finite Re after the adjustment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
for expected losses due to counterparty default associated to TP as a whole,0,0 0,NaN,0,0,0,0,0,0,0
Technical provisions calculated as a sum of BE and RM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Best Estimate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gross Best Estimate,25 733 342,14 671 043 0 -2 179 512,0,1 421 497,0,39 646 371,0 0,0,0,0
Total Recoverables from reinsurance/SPV and Finite Re after the adjustment,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
for expected losses due to counterparty default,-3 259,-13 464 0 82 561,0,516 207,0,582 045,0 0,0,0,0
Best estimate minus recoverables from reinsurance/SPV and Finite Re,25 736 601,14 684 507 0 -2 262 073,0,905 290,0,39 064 326,0 0,0,0,0
Risk Margin,427 686,366 302 532 573,NaN,79 581,0,1 406 142,0,0,0,0

parsing 19 ../data/res\generali\tabula-Generali_2019_EN_short-7.csv
(4, 1)

,Medical expense insurance,*2,Income protection insurance,*4,"Total Non-Life Workers' Non-proportional obligationscompensation Motor vehicle liability Other motor insurance Marine, aviation and Fire and other damage General liability Credit and suretyship Legal expenses Assistance Miscellaneous financial Non-proportional Non-proportional marine, aviation and insurance transport insurance to property insurance insurance insurance insurance loss health reinsurance casualty reinsurance insurance transport reinsurance",Non-proportional property reinsurance
*0,,,,,,
Technical provisions calculated as a whole,0,NaN,0,NaN,0 0 0 0 0 0 0 0 0 0 0 0,0 0 0
Total Recoverables from reinsurance/SPV and Finite Re after the adjustment,NaN,NaN,NaN,NaN,NaN,NaN
for expected losses due to counterparty default associated to TP as a whole,0,NaN,0,NaN,0 0 0 0 0 0 0 0 0 0 0 0,0 0 0
Technical provisions calculated as a sum of BE and RM,NaN,NaN,NaN,NaN,NaN,NaN
Best estimate,NaN,NaN,NaN,NaN,NaN,NaN
Premium provisions,NaN,NaN,NaN,NaN,NaN,NaN
Gross,8 489,NaN,13 858,NaN,0 829 486 929 091 2 266 344 156 262 013 58 113...,0 0 2 447 473
Total recoverable from reinsurance/SPV and Finite Re after the adjustment for,NaN,NaN,NaN,NaN,NaN,NaN
expected losses due to counterparty default,2 244,NaN,5 629,NaN,0 203 724 208 116 3 035 -185 791 -25 678 -7 69...,0 0 203 589
Net Best Estimate of Premium Provisions,6 245,NaN,8 229,NaN,0 625 763 720 975 -769 529 946 287 691 65 803 ...,0 0 2 243 884

parsing 20 ../data/res\generali\tabula-Generali_2019_EN_short-8.csv
(2, 2)

,(cumulative)0 1,2,3,4,5,6,7,8,9,10 & +,In Current year
*0,,,,,,,,,,,
Prior,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41475.0,4.147500e+04
N-9,1.045829e+14,704758.0,372030.0,155089.0,NaN,32743.0,55786.0,28002.0,14857.0,8427.0,8.427163e+11
N-8,7.970713e+13,644636.0,245106.0,143573.0,NaN,94910.0,-1007.0,35790.0,27907.0,NaN,2.790712e+12
N-7,8.069615e+13,662292.0,278304.0,116991.0,NaN,46108.0,27367.0,15842.0,NaN,NaN,1.584212e+12
N-6,9.053606e+13,856059.0,314420.0,NaN,98375.0,47755.0,30188.0,NaN,NaN,NaN,3.018814e+12
N-5,7.262646e+13,894217.0,321285.0,112456.0,NaN,42700.0,NaN,NaN,NaN,NaN,4.270012e+12
N-4,6.948787e+13,754090.0,414475.0,219201.0,NaN,NaN,NaN,NaN,NaN,NaN,2.192011e+13
N-3,7.688475e+13,738240.0,408500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.085001e+13
N-2,7.929920e+13,949011.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.490111e+13
N-1,8.228043e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.661099e+14

parsing 21 ../data/res\generali\tabula-Generali_2019_EN_short-9.csv
(3, 2)

,0,*2,1,*4,2,*6,3,*8,4,*10,Development year 5,6,*13,7,*15,8,*17,9,10 & +,Year end (discounted data)
*0,,,,,,,,,,,,,,,,,,,,
Prior,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,420364.0,377027.0
N-9,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0.0,NaN,162994.0,NaN,146406.0
N-8,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,0.0,NaN,164871.0,NaN,NaN,NaN,147961.0
N-7,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,0.0,NaN,144318.0,NaN,NaN,NaN,NaN,NaN,129259.0
N-6,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,198013.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178342.0
N-5,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,322650.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,288757.0
N-4,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,457880.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,413781.0
N-3,0.0,NaN,0.0,NaN,0.0,NaN,702378.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,641280.0
N-2,0.0,NaN,0.0,NaN,1487727.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1386980.0
N-1,0.0,NaN,2088937.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1927008.0

parsing 22 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-0.csv
(1, 1)

0           C0010
*0
R0030         0.0
R0040         0.0
R0050         0.0
R0060   4584666.0
R0070  76380091.0
R0080         0.0
R0090  11567087.0
R0100    304504.0
R0110    175366.0
R0120    129138.0

parsing 23 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-1.csv
(1, 1)

0           C0010
*0
R0510  18296851.0
R0520  15931284.0
R0530         0.0
R0540  14972657.0
R0550    958627.0
R0560   2365567.0
R0570         0.0
R0580   2078025.0
R0590    287542.0
R0600  29341397.0

parsing 24 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-10.csv
(1, 1)

0       C0110     C0120     C0130  C0140  C0150  C0160  C0170       C0180
*0
R0320  1102.0  143691.0  517134.0    0.0    0.0    0.0    0.0  18296851.0
R0330     0.0   -1123.0  442070.0    0.0    0.0    0.0    0.0   7826676.0
R0340  1102.0  144813.0   75064.0    0.0    0.0    0.0    0.0  10470175.0

parsing 25 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-11.csv
(1, 1)

,C0010,C0020,C0030,C0040,C0050,C0060,C0070,C0080,C0090,C0100,C0110
*0,,,,,,,,,,,
R0100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77612796.0
R0160,5421119.0,1728464.0,256884.0,109558.0,43663.0,47360.0,30257.0,51031.0,14256.0,19639.0,NaN
R0170,5380409.0,1645421.0,253710.0,137293.0,66099.0,27024.0,22401.0,41055.0,2241.0,NaN,NaN
R0180,7045608.0,2024224.0,519192.0,95896.0,122518.0,40191.0,21814.0,31070.0,NaN,NaN,NaN
R0190,5165590.0,1943292.0,389199.0,121789.0,70153.0,80223.0,30553.0,NaN,NaN,NaN,NaN
R0200,5434503.0,2036216.0,399113.0,186743.0,160216.0,76822.0,NaN,NaN,NaN,NaN,NaN
R0210,6085520.0,2528082.0,453786.0,339183.0,163486.0,NaN,NaN,NaN,NaN,NaN,NaN
R0220,6812502.0,2552754.0,819185.0,420929.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R0230,5999441.0,3071733.0,931232.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R0240,7392977.0,3281096.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

parsing 26 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-12.csv
(1, 1)

0           C0170       C0180
*0
R0100  77612796.0  77612796.0
R0160     19639.0   7722231.0
R0170      2241.0   7575654.0
R0180     31070.0   9900512.0
R0190     30553.0   7800800.0
R0200     76822.0   8293613.0
R0210    163486.0   9570056.0
R0220    420929.0  10605371.0
R0230    931232.0  10002406.0
R0240   3281096.0  10674073.0

parsing 27 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-13.csv
(1, 1)

,C0200,C0210,*3,C0220,*5,C0230,*7,C0240,C0250,C0260,C0270,C0280,C0290,C0300
*0,,,,,,,,,,,,,,
R0100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2205708.0
R0160,0.0,0.0,NaN,0.0,NaN,0.0,NaN,684482.0,473657.0,344925.0,263090.0,221034.0,212469.0,NaN
R0170,0.0,0.0,NaN,0.0,NaN,830394.0,NaN,394517.0,291651.0,254928.0,163673.0,167972.0,NaN,NaN
R0180,0.0,0.0,NaN,1255022.0,NaN,736692.0,NaN,446591.0,320308.0,253260.0,227930.0,NaN,NaN,NaN
R0190,0.0,2225446.0,NaN,1217695.0,NaN,831936.0,NaN,688581.0,428772.0,420835.0,NaN,NaN,NaN,NaN
R0200,4008420.0,1909566.0,NaN,1293749.0,NaN,1137417.0,NaN,766675.0,668088.0,NaN,NaN,NaN,NaN,NaN
R0210,4145613.0,1520529.0,NaN,919541.0,NaN,702847.0,NaN,565576.0,NaN,NaN,NaN,NaN,NaN,NaN
R0220,4226552.0,1467771.0,NaN,1148239.0,NaN,687539.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R0230,3860679.0,2232909.0,NaN,1175705.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R0240,6507851.0,2246381.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

parsing 28 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-14.csv
(1, 1)

0          C0360
*0
R0100  1646837.0
R0160   150311.0
R0170   132240.0
R0180   182432.0
R0190   362328.0
R0200   523211.0
R0210   490287.0
R0220   612606.0
R0230  1079594.0
R0240  2120657.0

parsing 29 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-15.csv
(1, 1)

0           C0010       C0020      C0030  *4  C0040  C0050
*0
R0010   2151129.0   2151129.0        NaN NaN    0.0    NaN
R0030     85959.0     85959.0        NaN NaN    0.0    NaN
R0040         0.0         0.0        NaN NaN    0.0    NaN
R0050         0.0         NaN        0.0 NaN    0.0    0.0
R0070         0.0         0.0        NaN NaN    NaN    NaN
R0090   2151000.0         NaN  2151000.0 NaN    0.0    0.0
R0110     48081.0         NaN    48081.0 NaN    0.0    0.0
R0130  33366410.0  33366410.0        NaN NaN    NaN    NaN
R0140    559005.0         NaN   559005.0 NaN    0.0    0.0
R0160         0.0         NaN        NaN NaN    NaN    0.0

parsing 30 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-16.csv
(1, 1)

0            C0010       C0020      C0030  C0040  C0050
*0
R0500  38361583.00  35603497.0  2758086.0    0.0    0.0
R0510  38361583.00  35603497.0  2758086.0    0.0    NaN
R0540  38361583.00  35603497.0  2758086.0    0.0    0.0
R0550  38361583.00  35603497.0  2758086.0    0.0    NaN
R0580  10899809.00         NaN        NaN    NaN    NaN
R0600   3817502.00         NaN        NaN    NaN    NaN
R0620       351.95         NaN        NaN    NaN    NaN
R0640      1004.89         NaN        NaN    NaN    NaN

parsing 31 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-17.csv
(1, 1)

0           C0060
*0
R0700  40434845.0
R0710         0.0
R0720   2632267.0
R0730   4436168.0
R0740         0.0
R0760  33366410.0
R0770  18453787.0
R0780   1584789.0
R0790  20038575.0

parsing 32 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-18.csv
(1, 3)

,C0020,C0030,C0070,C0080,C0090
C0010,,,,,
1 Market risk,NaN,6495055.0,0.0,NaN,NaN
2 Counterparty default risk,NaN,670768.0,0.0,NaN,NaN
3 Life underwriting risk,NaN,6904963.0,0.0,NaN,NaN
4 Health underwriting risk,NaN,2670847.0,0.0,NaN,NaN
5 Non-life underwriting risk,NaN,2950708.0,2950708.0,NaN,NaN
6 Intangible asset risk,NaN,0.0,0.0,NaN,NaN
7 Operational risk,NaN,1358528.0,0.0,NaN,NaN
8 LAC Technical Provisions (negative amount),NaN,-1087237.0,0.0,NaN,NaN
9 LAC Deferred Taxes (negative amount),NaN,-2155249.0,0.0,NaN,NaN

parsing 33 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-19.csv
(1, 1)

0           C0100
*0
R0110  17808383.0
R0060  -6908574.0
R0160         0.0
R0200  10899809.0
R0210         0.0
R0220  10899809.0
R0300  -1087237.0
R0310  -2155249.0
R0400         0.0
R0410         0.0

parsing 34 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-2.csv
(1, 1)

,C0010,C0020,C0030,C0040,C0050,C0060,C0070,C0080,C0090
*0,,,,,,,,,
R0110,195830.0,6564496.0,7320908.0,4761739.0,4477960.0,112307.0,6392726.0,2318514.0,29.0
R0120,0.0,0.0,0.0,600.0,4350.0,5255.0,309600.0,96016.0,0.0
R0130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R0140,3427.0,2772546.0,0.0,2372323.0,23287.0,51616.0,2349594.0,414300.0,0.0
R0200,192403.0,3791949.0,7320908.0,2390015.0,4459023.0,65946.0,4352732.0,2000229.0,29.0
R0210,203815.0,6567981.0,7320908.0,4727245.0,4445791.0,113515.0,6373298.0,2298480.0,56.0
R0220,0.0,0.0,0.0,403.0,4568.0,5161.0,310813.0,94384.0,0.0
R0230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R0240,3427.0,2772546.0,0.0,2354496.0,23813.0,53277.0,2394736.0,420271.0,0.0
R0300,200388.0,3795435.0,7320908.0,2373152.0,4426546.0,65399.0,4289376.0,1972593.0,56.0

parsing 35 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-20.csv
(7, 1)

0            C0109 Yes Schopnost odložené daňové povinnosti absorbovat ztráty C0130
 R0590
R0640                                               -2155249.0
R0650                                               -2155249.0
R0660                                                      0.0
R0670                                                      0.0
R0680                                                      0.0
R0690                                               -2239308.0

parsing 36 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-21.csv
(1, 1)

0          C0010  C0020
*0
R0010  2397587.0    NaN

parsing 37 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-22.csv
(1, 1)

0          C0030      C0040  C0050  C0060
*0
R0020     8365.0   192403.0    NaN    NaN
R0030   429625.0  3791949.0    NaN    NaN
R0040        0.0        0.0    NaN    NaN
R0050  3171551.0  2390015.0    NaN    NaN
R0060  1316666.0  4459023.0    NaN    NaN
R0070    11492.0    65946.0    NaN    NaN
R0080  2066050.0  4352732.0    NaN    NaN
R0090  2015868.0  2000229.0    NaN    NaN
R0100      617.0       29.0    NaN    NaN
R0110      920.0    42021.0    NaN    NaN

parsing 38 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-23.csv
(1, 1)

0      C0070      C0080
*0
R0200    0.0  1419915.0

parsing 39 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-24.csv
(1, 1)

0      C0090  C0100       C0110        C0120
*0
R0210    0.0    NaN  31475309.0          NaN
R0220    0.0    NaN   3073971.0          NaN
R0230    0.0    NaN    517717.0          NaN
R0240    0.0    NaN         0.0          NaN
R0250    NaN    0.0         NaN  587929657.0

parsing 40 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-25.csv
(1, 1)

0           C0130
*0
R0300   3817502.0
R0310  10899809.0
R0320   4904914.0
R0330   2724952.0
R0340   3817502.0
R0350    201650.0

parsing 41 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-26.csv
(1, 1)

0          C0130
*0
R0400  3817502.0

parsing 42 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-27.csv
(1, 1)

0          C0140      C0150
*0
R0500  2397587.0  1419915.0
R0510  6845640.0  4054169.0
R0520  3080538.0  1824376.0
R0530  1711410.0  1013542.0
R0540  2397587.0  1419915.0
R0550   100825.0   100825.0
R0560  2397587.0  1419915.0

parsing 43 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-3.csv
(1, 1)

0        C0100     C0110     C0120  C0130  C0140  C0150  C0160       C0200
*0
R0110  42021.0  329364.0  335013.0    NaN    NaN    NaN    NaN  32850905.0
R0120      0.0       0.0   19905.0    NaN    NaN    NaN    NaN    435727.0
R0130      NaN       NaN       NaN    NaN    NaN    NaN    NaN         NaN
R0140      0.0       0.0  251032.0    NaN    NaN    NaN    NaN   8238126.0
R0200  42021.0  329364.0  103886.0    NaN    NaN    NaN    NaN  25048506.0
R0210  42078.0  322628.0  332660.0    NaN    NaN    NaN    NaN  32748456.0
R0220      0.0       0.0   19820.0    NaN    NaN    NaN    NaN    435149.0
R0230      NaN       NaN       NaN    NaN    NaN    NaN    NaN         NaN
R0240      0.0       0.0  250954.0    NaN    NaN    NaN    NaN   8273519.0
R0300  42078.0  322628.0  101526.0    NaN    NaN    NaN    NaN  24910086.0

parsing 44 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-4.csv
(1, 1)

,C0210,C0220,C0230,C0240,C0250,C0260,C0270,C0280,C0300
*0,,,,,,,,,
R1410,1572516.0,6667122.0,66371.0,804071.0,NaN,NaN,0.0,0.0,9110080.0
R1420,63961.0,38047.0,70.0,69203.0,NaN,NaN,NaN,NaN,171281.0
R1500,1508555.0,6629075.0,66301.0,734868.0,NaN,NaN,0.0,0.0,8938798.0
R1510,1571406.0,6678128.0,66371.0,804216.0,NaN,NaN,NaN,NaN,9120122.0
R1520,63961.0,38050.0,70.0,69542.0,NaN,NaN,NaN,NaN,171623.0
R1600,1507446.0,6640078.0,66301.0,734675.0,NaN,NaN,NaN,NaN,8948499.0
R1610,589954.0,5883720.0,74506.0,209082.0,NaN,NaN,NaN,NaN,6757262.0
R1620,44617.0,9461.0,0.0,25421.0,NaN,NaN,NaN,NaN,79499.0
R1700,545337.0,5874259.0,74506.0,183661.0,NaN,NaN,NaN,NaN,6677763.0
R1710,-6472.0,18089.0,-24798.0,-222523.0,NaN,NaN,NaN,NaN,-235704.0

parsing 45 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-5.csv
(1, 1)

,C0020,C0030,C0040,C0050,C0060,C0070,C0080,C0090,C0100,C0150
*0,,,,,,,,,,
R0010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R0020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R0030,34378640.0,NaN,0.0,517388.0,NaN,0.0,-1890760.0,0.0,0.0,33005268.0
R0080,-170640.0,NaN,0.0,-329.0,NaN,0.0,-320497.0,0.0,0.0,-491467.0
R0090,34549281.0,NaN,0.0,517717.0,NaN,0.0,-1570262.0,0.0,0.0,33496735.0
R0100,1810520.0,36383.0,NaN,NaN,271522.0,NaN,NaN,0.0,0.0,2118425.0
R0110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R0120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R0130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R0200,36189161.0,553770.0,NaN,NaN,-1619238.0,NaN,NaN,0.0,0.0,35123693.0

parsing 46 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-6.csv
(1, 1)

0          C0160  C0170      C0180  C0190  C0200      C0210
*0
R0010        NaN    NaN        NaN    NaN    NaN        NaN
R0020        NaN    NaN        NaN    NaN    NaN        NaN
R0030        NaN    0.0 -6116492.0    0.0    0.0 -6116492.0
R0080        NaN    0.0  -274910.0    0.0    0.0  -274910.0
R0090        NaN    0.0 -5841582.0    0.0    0.0 -5841582.0
R0100   887967.0    NaN        NaN    0.0    0.0   887967.0
R0110        NaN    NaN        NaN    NaN    NaN        NaN
R0120        NaN    NaN        NaN    NaN    NaN        NaN
R0130        NaN    NaN        NaN    NaN    NaN        NaN
R0200 -5228525.0    NaN        NaN    0.0    0.0 -5228525.0

parsing 47 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-7.csv
(1, 1)

,C0020,C0030,C0040,C0050,C0060,C0070,C0080,C0090,C0100
*0,,,,,,,,,
R0010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R0050,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R0060,7938.0,-1240607.0,0.0,1075800.0,972269.0,-1478.0,1130628.0,426663.0,142.0
R0140,-169.0,-65054.0,0.0,477509.0,12607.0,-1481.0,312335.0,25183.0,NaN
R0150,8106.0,-1175553.0,0.0,598291.0,959663.0,3.0,818293.0,401480.0,142.0
R0160,259.0,3310436.0,0.0,5242990.0,362951.0,10258.0,2631831.0,2475409.0,475.0
R0240,1.0,1705258.0,0.0,2669729.0,5947.0,-1231.0,1384074.0,861021.0,0.0
R0250,258.0,1605178.0,0.0,2573261.0,357004.0,11489.0,1247757.0,1614388.0,475.0
R0260,8197.0,2069829.0,0.0,6318789.0,1335220.0,8780.0,3762459.0,2902072.0,617.0
R0270,8365.0,429625.0,0.0,3171551.0,1316666.0,11492.0,2066050.0,2015868.0,617.0

parsing 48 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-8.csv
(1, 1)

,C0020,C0030,C0040,C0050,C0060,C0070,C0080,C0090,C0100
*0,,,,,,,,,
R0320,8243.0,2357324.0,0.0,6680858.0,1399687.0,10839.0,3986224.0,3191047.0,702.0
R0330,-168.0,1640203.0,0.0,3147238.0,18554.0,-2712.0,1696409.0,886204.0,NaN
R0340,8411.0,717121.0,0.0,3533620.0,1381133.0,13551.0,2289815.0,2304843.0,702.0

parsing 49 ../data/res\kooperativa\tabula-Kooperativa_2020_CZ_short-9.csv
(1, 1)

0       C0110     C0120     C0130  C0140  C0150  C0160  C0170       C0180
*0
R0010     NaN       NaN       NaN    NaN    NaN    NaN    NaN         NaN
R0050     NaN       NaN       NaN    NaN    NaN    NaN    NaN         NaN
R0060   -99.0   82096.0   66977.0    0.0    0.0    0.0    0.0   2520329.0
R0140     0.0       0.0   41225.0    0.0    0.0    0.0    0.0    802155.0
R0150   -99.0   82096.0   25752.0    0.0    0.0    0.0    0.0   1718174.0
R0160  1019.0   52063.0  442664.0    NaN    NaN    NaN    NaN  14530354.0
R0240     0.0   -1123.0  400845.0    0.0    0.0    0.0    0.0   7024521.0
R0250  1019.0   53186.0   41819.0    0.0    0.0    0.0    0.0   7505833.0
R0260   920.0  134159.0  509640.0    0.0    0.0    0.0    0.0  17050682.0
R0270   920.0  135282.0   67570.0    0.0    0.0    0.0    0.0   9224007.0

total_numbers 1069

In [155]:
def to_float(s):
    try:
        return float(s)
    except ValueError:
        return s


def dataframe_to_couples(df):
    dfd = df.to_dict()
    lst = []
    for k, v in dfd.items():
        kl = k.lower().split(" ")
        for ki, vi in v.items():
            kil = ki.lower().split(" ")
            lst.append((set(kl).union(set(kil)), to_float(vi), k + " " + ki))
    return lst 


def mapping_table_to_words(df):
    transform = lambda x: [x[c].lower().split(" ") if isinstance(x[c], str) else "" for c in x.index]
    df["words"] = df.apply(transform, axis=1)
    df["words"] = df.apply(lambda x: set(b for a in x["words"] for b in a), axis=1)
    return df


def mapping_match(words, mapped):
    return len(mapped.intersection(set(words)))
    

df = pd.read_excel(f"../data/mapping_table.xlsx", header=0)
words = mapping_table_to_words(df)
words["best_match_val"] = -1
words["match"] = ""
words["mapping"] = ""
# display(words)
    
for i, f in enumerate(glob.glob("../data/nice/**/*koo*.xlsx", recursive=True)):
    f = pathlib.Path(f)    
    df = pd.read_excel(f, header=0)
    df = df.set_index(df.columns[0])
#     display(df)
    couples = dataframe_to_couples(df)
    for couple in couples:
        words["mapping_match"] = words.apply(lambda x: mapping_match(x["words"], couple[0]), axis=1)
        best_idx = words["mapping_match"].idxmax()
        best_val = words["mapping_match"].max()
        if best_val > words.loc[best_idx, "best_match_val"] and best_val >= 2:
            words.at[best_idx, "match"] = couple[2]
            words.at[best_idx, "mapping"] = couple[1]
            words.at[best_idx, "best_match_val"] = best_val

display(words)
del words["words"]
del words["mapping_match"]
words.to_excel("../data/mapping_result.xlsx")

,S-code,C-code,R-code,Common,Text,Custom,words,best_match_val,match,mapping,mapping_match
0,QRT_S.02.01,C0010,R0040,NaN,Deferred tax assets,NaN,"{r0040, qrt_s.02.01, assets, tax, c0010, defer...",2,C0010 R0040,0,0
1,QRT_S.02.01,C0010,R0070,NaN,Investments (other than assets held for index-...,NaN,"{for, held, qrt_s.02.01, investments, (other, ...",2,C0010 R0070,7.63801e+07,0
2,QRT_S.02.01,C0010,R0080,NaN,Property (other than for own use),NaN,"{for, qrt_s.02.01, (other, r0080, c0010, than,...",2,C0010 R0080,0,0
3,QRT_S.02.01,C0010,R0090,NaN,"Holdings in related undertakings, including pa...",NaN,"{including, qrt_s.02.01, in, r0090, holdings, ...",2,C0010 R0090,1.15671e+07,0
4,QRT_S.02.01,C0010,R0100,NaN,Equities,NaN,"{c0010, r0100, qrt_s.02.01, equities}",2,C0010 R0100,304504,0
...,...,...,...,...,...,...,...,...,...,...,...
183,QRT_S.05.01.02,C0240,R1800,Changes in other technical provisions,Other life insurance,life,"{other, technical, provisions, in, insurance, ...",2,C0240 R1800,-222523,0
184,QRT_S.05.01.02,C0250,R1800,Changes in other technical provisions,Annuities stemming from non-life insurance con...,life,"{, obligations, c0250, other, technical, life,...",2,C0250 R1800,NaN,0
185,QRT_S.05.01.02,C0260,R1800,Changes in other technical provisions,Annuities stemming from non-life insurance con...,life,"{obligations, other, technical, life, provisio...",2,C0260 R1800,NaN,0
186,QRT_S.05.01.02,C0270,R1800,Changes in other technical provisions,Health reinsurance,life,"{other, technical, provisions, in, changes, c0...",2,C0270 R1800,NaN,0
187,QRT_S.05.01.02,C0280,R1800,Changes in other technical provisions,Life reinsurance,life,"{other, technical, provisions, in, changes, re...",2,C0280 R1800,NaN,0